<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>vuex-i18n</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
	<script src="https://unpkg.com/vuex@2.0.0"></script>

	<script src="../dist/vuex-i18n.min.js"></script>

</head>
<body>

	<div id="app">

		<div style="margin-bottom: 40px; border:1px solid #efefef; padding: 20px; display: inline-block">
			<h1>{{ $t('message.title') }}</h1>
			<p>{{ $t('message.body') }}</p>

			<p><small>Footer: {{ 'message.footer' | translate }}</small></p>
		</div>

		<br />

		<div style="display:block">
			<input type="text" v-model="language">

			<button type="submit" @click="changeLanguage">Set language</button>

			<p>Current Language: {{ $i18n.locale() }}</p>
		</div>

		<div style="display:block; margin-top: 20px">
			<ul>
				<li v-for="block in $t('listing', {first:'1', second:'2'})">{{ block }}</li>
			</ul>
		</div>

	</div>

	<!-- application code -->
	<script type="text/javascript">

		// enable the vue devtools
		Vue.config.devtools = true;

		// initialize a new vuex store including our i18nVuexModule
		const store = new Vuex.Store({
			modules: {
				i18n: vuexI18n.store
			}
		});

		// initialize the vuexi18nPlugin
		Vue.use(vuexI18n.plugin, store);

		// define default translations for english text
		const localeEn = {
			'message.title': 'An Awesome Title',
			'message.body': 'And some slightly less awesome text',
			'message.footer': 'This is a footer text',
			'listing': [
				'this is block no. {first}',
				'this is block no. {second}'
			]
		};

		// add the english locale to the i18n store
		Vue.i18n.add('en', localeEn);

		// set the current language to english
		Vue.i18n.set('en');

		// use the plugin methods to access and add translations
		var app = new Vue({
			store,
			el: '#app',
			data: {
				language: 'de'
			},
			methods: {

				// enable language changing
				changeLanguage() {

					let locale = this.language;
					let url = `/test/locale-${locale}.json`;

					// check if the locale has already been loaded
					if (this.$i18n.exists(locale)) {
						this.$i18n.set(locale);
						return;
					}

					// load the specified locale from the server
					this.$http.get(url).then((response) => {
						return response.json();

					}).then((data) => {
						this.$i18n.add(locale, data);
						this.$i18n.set(locale);

					}).catch((error) => {
						alert('could not fetch locale translations');
					});

				}
			}
		});


	</script>

</body>
</html>
